* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: Arvo;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;
    background: lightcyan;
    background-size: cover;
}

.mainbox {
    position: absolute;
    margin-top: 120px;
    width: 500px;
    height: 500px;
}

.mainbox::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('left-arrow.png') no-repeat;
    background-size: 32px;
    left: 510px;
    top: 45.5vh;
    transform: translateY(-50%)
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    top: 15vh;
    border-radius: 50%;
    border: 10px solid lightgray;
    overflow: hidden;
    transition: all ease 5s;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #FF9AA2;
    top: 120.8px;
    left: 0px;
}

.span2 {
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #B5EAD7;
  top: 120px;
  left: 240px;
}

.span3 {
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color:#C7CEEA;
  top: 240px;
  left: 120px;
}

.span4 {
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #FFDAC1;
    top: 0px;
    left: 120px;
}
.span5
{
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  background-color: rgb(178, 192, 250);
  transform: rotate(-135deg);
  top: 205px;
  left: 205px;
}
.span6
{
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #FFB7B2;
  transform: rotate(-135deg);
  top: 35px;
  left: 35px;
}
.span7
{
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color: rgb(198, 231, 166);
  transform: rotate(-135deg);
  top: 35.05px;
  left: 204.48px;
}
.span8
{
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-color: rgb(246, 168, 252);
  transform: rotate(-135deg);
  top: 206.6px;
  left: 34px;
}
.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}

span a {
    width: 150px;
    height: 65px;
    line-height: 65px;
    border-radius: 40%;
    text-align: center;
    text-decoration: none;
  cursor: pointer;
  color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.spin {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}
span a:hover{
  color: royalblue;
}